{% extends 'admin/layout/base.html.twig' %}
{% block content %}
    <form method="post">
        <input type="text" name="username" value=""/>
        <button type="submit">Login</button>
    </form>
{% endblock %}